<header>
  <img
    src="https://parceldealz.com/wp-content/uploads/2021/11/logo_white.png"
    alt="logo"
  />
  <nav>
    <li>Advertiser</li>
    <li>Publisher</li>
    <li>Contact</li>
    <li>
      <a href="/rates">Exchange rates</a>
    </li>
    <li>Start campaign</li>
  </nav>
</header>
